@custom-variant dark (&:is(.dark *));

:root {
  --background: #fff;
  --foreground: #000;
  --primary: #fff;
  --primary-foreground: #000;
  --secondary: #fff;
  --secondary-foreground: #000;
  --muted: #000;
  --muted-foreground: #000;
  --accent: #000;
  --accent-foreground: #000;
  --outline-color: #000;

  --card: #ccc;
  --card-foreground: #000;
}

.dark {
  --background: #000;
  --foreground: #fff;
  --primary: #000;
  --primary-foreground: #fff;
  --secondary: #000;
  --secondary-foreground: #fff;
  --muted: #fff;
  --muted-foreground: #fff;
  --accent: #fff;
  --accent-foreground: #fff;
  --outline-color: #fff;

  --card: #000;
  --card-foreground: #fff;
}

:root {
  --outline: 1px solid var(--outline-color);
  --pad: 0.5rem;
  --card-pad: var(--pad);
  --card-spacing: var(--pad);
  --radius-full: 9999rem;
  --radius-1: 1.5rem;
  --radius-2: calc(var(--radius-1) + var(--pad));
  --radius-3: calc(var(--radius-2) + var(--pad));
  --radius-4: calc(var(--radius-3) + var(--pad));
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

.font-sans {
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  background: url("/webp/flower2.webp") no-repeat center center fixed;
  background-size: cover;
}

.stack {
  display: flex;
  gap: 0.5rem;
}

.stack.col {
  flex-direction: column;
}

.stack.row {
  flex-direction: row;
}