@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #000;
  --primary: #000;
  --primary-foreground: #fff;
  --secondary: #000;
  --secondary-foreground: #fff;
  --muted: #000;
  --muted-foreground: #000;
  --accent: #000;
  --accent-foreground: #000;
  --jump: 0;
}

/* *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
} */

body {
  background: url("/webp/flower2.webp") no-repeat center center fixed;
  background-size: cover;
}

.button {
  font-size: 1rem;
}

.button svg {
  height: 1rem;
  width: auto;
}

.button:hover,
.button:focus {
  outline: 1px solid var(--primary);
  outline-offset: 2px;
  cursor: pointer;
  opacity: 1;
}

.button.icon {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 9999rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.button.filled {
  background-color: var(--primary);
  color: var(--primary-foreground)
}

.button.text {
  height: 2.8rem;
  padding-left: 2.8rem;
  border-radius: 9999rem;
}

.button.outline{
  border: 1px solid var(--primary);
  color: var(--primary);
}