@import "tailwindcss";

:root {
  --viewport-height: 100vh;

  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

:root {
  --card: oklch(1.00 0 0);
  --ring: oklch(0 0 0);
  --input: oklch(0.94 0 0);
  --muted: oklch(0.97 0 0);
  --accent: oklch(0.94 0 0);
  --border: oklch(0.92 0 0);
  --radius: 0.5rem;
  --chart-1: oklch(0.81 0.17 75.35);
  --chart-2: oklch(0.55 0.22 264.53);
  --chart-3: oklch(0.72 0 0);
  --chart-4: oklch(0.92 0 0);
  --chart-5: oklch(0.56 0 0);
  --popover: oklch(0.99 0 0);
  --primary: oklch(0 0 0);
  --sidebar: oklch(0.99 0 0);
  --font-mono: Geist Mono, monospace;
  --font-sans: Geist, sans-serif;
  --secondary: oklch(0.94 0 0);
  --background: oklch(0.99 0 0);
  --font-serif: Georgia, serif;
  --foreground: oklch(0 0 0);
  --destructive: oklch(0.63 0.19 23.03);
  --shadow-blur: 2px;
  --shadow-color: hsl(0 0% 0%);
  --sidebar-ring: oklch(0 0 0);
  --shadow-spread: 0px;
  --shadow-opacity: 0.18;
  --sidebar-accent: oklch(0.94 0 0);
  --sidebar-border: oklch(0.94 0 0);
  --card-foreground: oklch(0 0 0);
  --shadow-offset-x: 0px;
  --shadow-offset-y: 1px;
  --sidebar-primary: oklch(0 0 0);
  --muted-foreground: oklch(0.44 0 0);
  --accent-foreground: oklch(0 0 0);
  --popover-foreground: oklch(0 0 0);
  --primary-foreground: oklch(1.00 0 0);
  --sidebar-foreground: oklch(0 0 0);
  --secondary-foreground: oklch(0 0 0);
  --destructive-foreground: oklch(1.00 0 0);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-primary-foreground: oklch(1.00 0 0);
}

.dark {
  --card: oklch(0.14 0 0);
  --ring: oklch(0.72 0 0);
  --input: oklch(0.32 0 0);
  --muted: oklch(0.23 0 0);
  --accent: oklch(0.32 0 0);
  --border: oklch(0.26 0 0);
  --chart-1: oklch(0.81 0.17 75.35);
  --chart-2: oklch(0.58 0.21 260.84);
  --chart-3: oklch(0.56 0 0);
  --chart-4: oklch(0.44 0 0);
  --chart-5: oklch(0.92 0 0);
  --popover: oklch(0.18 0 0);
  --primary: oklch(1.00 0 0);
  --sidebar: oklch(0.18 0 0);
  --font-mono: Geist Mono, monospace;
  --font-sans: Geist, sans-serif;
  --secondary: oklch(0.25 0 0);
  --background: oklch(0 0 0);
  --font-serif: Georgia, serif;
  --foreground: oklch(1.00 0 0);
  --destructive: oklch(0.69 0.20 23.91);
  --sidebar-ring: oklch(0.72 0 0);
  --sidebar-accent: oklch(0.32 0 0);
  --sidebar-border: oklch(0.32 0 0);
  --card-foreground: oklch(1.00 0 0);
  --sidebar-primary: oklch(1.00 0 0);
  --muted-foreground: oklch(0.72 0 0);
  --accent-foreground: oklch(1.00 0 0);
  --popover-foreground: oklch(1.00 0 0);
  --primary-foreground: oklch(0 0 0);
  --sidebar-foreground: oklch(1.00 0 0);
  --secondary-foreground: oklch(1.00 0 0);
  --destructive-foreground: oklch(0 0 0);
  --sidebar-accent-foreground: oklch(1.00 0 0);
  --sidebar-primary-foreground: oklch(0 0 0);
}

@theme inline {
  --color-card: var(--card);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-muted: var(--muted);
  --color-accent: var(--accent);
  --color-border: var(--border);
  --color-radius: var(--radius);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-popover: var(--popover);
  --color-primary: var(--primary);
  --color-sidebar: var(--sidebar);
  --color-font-mono: var(--font-mono);
  --color-font-sans: var(--font-sans);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-font-serif: var(--font-serif);
  --color-foreground: var(--foreground);
  --color-destructive: var(--destructive);
  --color-shadow-blur: var(--shadow-blur);
  --color-shadow-color: var(--shadow-color);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-shadow-spread: var(--shadow-spread);
  --color-shadow-opacity: var(--shadow-opacity);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-border: var(--sidebar-border);
  --color-card-foreground: var(--card-foreground);
  --color-shadow-offset-x: var(--shadow-offset-x);
  --color-shadow-offset-y: var(--shadow-offset-y);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
}

main {
  flex: 1;
}

.heading {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.heading h1 {
  line-height: 1;
  font-size: 20vw;

}

@keyframes apply-text-ratio {
  from {
    transform: scale(0);
    /* 14 */
    margin-block-end: -1lh;
    /* 15 */
  }
}

.site-header {
  position: fixed;
  display: none;
}

.external-links a {
  position: relative;
}

.external-links a:after {
  content: " ↗";
  font-size: 0.8em;
  opacity: 0.5;
  /* margin-left: 0.2em; */
  vertical-align: text-top;
  display: inline-block;
  position: absolute;
  top: 0;
  right: -1em;
}

.navpanel {
  width: fit-content;
}

.navpanel h6 {
  font-size: 1rem;
  margin-bottom: 0.5em;
  color: #999;
}

.site-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.site-footer-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 5em;
  padding: 1em;
}

.site-footer-links {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.site-footer-brand {
  overflow: hidden;
  height: calc(22vw + 4em);
  color: #000;
  position: relative;
}

.site-footer-brand span {
  line-height: 0.8;
  font-size: 30vw;
  overflow: hidden;
  display: block;
  position: absolute;
  bottom: -8vw;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.sr-only {
  display: none;
}

input {
  padding: 0.3em 0;
}

input[type="text"],
input[type="email"] {
  border: none;
  border-bottom: 1px solid #0005;
  width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus {
  outline: none;
}

input[type="text"]:not(:placeholder-shown),
input[type="email"]:not(:placeholder-shown) {
  border-bottom: 2px solid #000;
}

input:invalid:not(:placeholder-shown):invalid {
  border-color: #d32f2f;
}

button {
  padding: 0.3em 2em;
  border-radius: 8px;
  background-color: #999;
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: flex-start;
}

form h2 {
  font-size: 1rem;
  color: #999;
}

.error {
  display: none;
  color: #d32f2f;
  font-size: 0.875rem;
  margin-top: 0.5em;
}

input:invalid:not(:placeholder-shown)+.error {
  display: block;
}

@media screen and (min-width: 600px) {
  .stack {
    flex-direction: row;
  }
}